body{
  margin:0;
  font-family:'Segoe UI',sans-serif;
  background:#020617;
  color:#e5e7eb;
}

/* NAVBAR */
.main-nav{
  background:#020617;
}
.main-nav .nav-link{color:#e5e7eb;margin:0 10px;}
.nav-btn{
  background:#38bdf8;
  padding:8px 18px;
  border-radius:20px;
  color:black;
  text-decoration:none;
}

/* BANNER */
.banner{
  height:80vh;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
}
.btn-main{
  background:#38bdf8;
  padding:12px 28px;
  border-radius:30px;
  color:black;
  text-decoration:none;
}

/* SECTIONS */
.section{padding:90px 0;}
.section-dark{padding:90px 0;background:#020617;}
.title{text-align:center;margin-bottom:50px;}

/* INTERNSHIP */
.intern-box{
  background:rgba(255,255,255,0.08);
  padding:25px;
  border-radius:20px;
  margin-bottom:25px;
}

/* SKILLS */
.skill-box{
  background:#38bdf8;
  color:black;
  padding:25px;
  border-radius:20px;
  text-align:center;
  font-weight:bold;
}

/* PROJECTS */
.project-box{
  background:rgba(255,255,255,0.08);
  padding:25px;
  border-radius:20px;
  margin-bottom:25px;
}

/* SOCIAL */
.social-icons a{
  font-size:28px;
  margin:0 15px;
  color:#38bdf8;
}
