body{
    background:#0a0a0a;
    color:white;
    scroll-behavior:smooth;
    font-family: 'Segoe UI';
}

/* Glass Navbar */
.glass-nav{
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
}

/* Hero */
.hero{
    height:70vh; /* smaller banner */
    background: linear-gradient(120deg,#0f0c29,#302b63,#24243e);
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
}

.hero span{
    color:#00f7ff;
}

.btn-glow{
    display:inline-block;
    padding:12px 30px;
    border-radius:30px;
    background:#00f7ff;
    color:black;
    text-decoration:none;
    box-shadow:0 0 20px #00f7ff;
    transition:0.4s;
}

.btn-glow:hover{
    box-shadow:0 0 40px #00f7ff;
}

/* Sections */
.section{
    padding:80px 0;
}

.section-dark{
    padding:80px 0;
    background:#111;
}

/* Skill Cards */
.skill-card{
    background: rgba(255,255,255,0.1);
    padding:25px;
    border-radius:15px;
    text-align:center;
    transition:0.4s;
}

.skill-card:hover{
    transform:translateY(-10px);
    background:#00f7ff;
    color:black;
}

/* Projects */
.project-card{
    background:#111;
    padding:30px;
    border-radius:20px;
    transition:0.4s;
}

.project-card:hover{
    transform:scale(1.05);
    box-shadow:0 0 20px #00f7ff;
}

/* Social Media Icons */
.social-icons a{
    color:#00f7ff;
    font-size:30px;
    margin:0 15px;
    transition:0.3s;
}

.social-icons a:hover{
    color:white;
    transform:scale(1.3);
}
